@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  background-color: #c1bbbb8a;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #3F52B5;
  box-shadow: 3px 3px 10px black;
  color: #f0eaff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}

h1 {
  color: #f0eaff;
  font-size: 3.5em;
  margin-bottom: 10px;
}

div {
  display: inline-flex;
  font-size: 1.2em;
}

header h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.span__currentUser {
  color: #DDE65C;
  font-style: italic;
  margin-left: 10px;
}

span {
  font-weight: 700;
  margin: 0 6px 0 7px;
  word-break: break-all;
}

main {
  display: grid;
  grid-template-areas: "column";
  height: max-content;
  margin: auto;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 5px;
  text-align: center;
}

h2 ~ p {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.grid {
  width: 90%
}

.grid:after {
  clear: both;
  content: '';
  display: block;
}

.grid-item {
  background-color: #ffffffbf;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: 1px 1px 6px #212b32;
  float: left;
  height: max-content;
  grid-auto-rows: auto;
  margin: 20px;
  padding: 15px;
  width: 43%;
}

.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  box-shadow: 4px 4px 6px #3F52B5;
  cursor: move;
  transform: scale(0.9);
  transition: all .5s ease-in-out;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    background: #EA0;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.section__sleep--step-feedback {
  font-style: italic;
}
